In [67]:
import pandas as pd

In [68]:
SITE='https://ko.wikipedia.org/wiki/%EC%9D%B8%EA%B5%AC%EC%88%9C_%EB%82%98%EB%9D%BC_%EB%AA%A9%EB%A1%9D'
data=pd.read_html(SITE)

In [69]:
df1=data[0]

In [70]:
df1.drop([0,3,4],axis=1,inplace=True)

In [71]:
df1.columns=['국가명','인구수']

In [72]:
df1

         국가명         인구수
0    중화인민공화국  1425880533
1         인도  1406631781
2         미국   334805268
3      인도네시아   279134505
4       파키스탄   229488996
..       ...         ...
236      니우에        1520
237     토켈라우        1501
238   바티칸 시국         825
239   코코스 제도         573
240   핏케언 제도          46

[241 rows x 2 columns]

In [78]:
아시아=['대한민국','조선민주주의인민공화국','일본','몽골','중화인민공화국','중화민국','홍콩','러시아','인도네시아','미얀마','태국','베트남',
'말레이시아','필리핀','라오스','캄보디아','동티모르','브루나이','싱가포르','네팔','몰디브','방글라데시','부탄','스리랑카','인도','파키스탄','이란','아프가니스탄',
'우즈베키스탄','카자흐스탄','키르기스스탄','타지키스탄','투르크메니스탄','레바논','바레인','사우디아라비아','시리아','아랍에미리트','아르메니아','아르차흐 공화국','아제르바이잔',
'예멘','오만','요르단','이라크','이스라엘','카타르','쿠웨이트','키프로스','북키프로스','튀르키예','팔레스타인','조지아','남오세티야','압하지야']

In [79]:
아프리카=['세네갈', '서사하라', '토고', '탄자니아', '튀니지','콩고민주공화국', '콩고공화국', '코모로',
'콩고민주공화국', '코트디부아르', '케냐', '상투메프린시페','부르키나파소', '부룬디', '보츠와나',
'베냉', '모잠비크','모리타니', '카메룬', '차드', '카보베르데', '짐바브웨','지부티', '중앙아프리카공화국',
'모리셔스', '모로코','말리', '말라위', '마다가스카르', '리비아', '적도기니','잠비아', '이집트',
'우간다', '에티오피아', '에리트레아','르완다', '레소토', '라이베리아', '니제르', '앙골라''남수단',
'남아프리카공화국', '알제리', '시에라리온','스와질란드', '수단', '소말리아', '세이셸', '나미비아',
'나이지리아', '기니비사우', '기니', '감비아', '가봉', '가나']

In [80]:
오세아니아=['피지', '팔라우', '파푸아뉴기니', '솔로몬제도','서사모아', '바누아투', '투발루', '미크로네시아',
'통가', '키리바시', '오스트레일리아', '마셜제도','뉴질랜드', '나우루']

In [81]:
아메리카=['트리니다드토바고', '파나마', '쿠바', '코스타리카','세인트빈센트그레나딘', '벨리즈', '바하마',
'바베이도스', '세인트루시아', '캐나다', '미국', '자메이카','온두라스', '엘살바도르', '안티구아바부다', '아이티',
'세인트키츠네비스', '멕시코', '도미니카연방','그레나다', '과테말라', '니카라과', '도미니카공화국', '베네수엘라',
'브라질', '볼리비아', '가이아나', '수리남','에콰도르', '우루과이', '콜롬비아', '칠레', '파라과이','페루', '아르헨티나']

In [82]:
유럽=['헝가리', '폴란드', '그리스', '스웨덴',  '스위스', '네덜란드', '노르웨이', '슬로바키아', 
'슬로베니아','독일', '덴마크', '아이슬란드', '라트비아','러시아', '루마니아', '룩셈부르크', '리투아니아',
'리히텐슈타인', '마케도니아', '안도라','알바니아', '아일랜드', '에스파냐', '오스트리아','모나코', '몬테네그로',
'영국',  '몰도바', '바티칸', '벨기에','우크라이나', '이탈리아', '체코', '크로아티아','포르투갈', '벨라루스',
'보스니아 헤르체고비나', '불가리아', '산마리노', '세르비아', '에스토니아', '프랑스', '필란드', '몰타']

In [83]:
A=[]
for i in df1['국가명']:
    if i in 아시아: A.append('아시아')
    elif i in 아프리카: A.append('아프리카')
    elif i in 아메리카: A.append('아메리카')
    elif i in 유럽: A.append('유럽')
    elif i in 오세아니아: A.append('오세아니아')
    else: A.append('기타')

In [85]:
df1['대륙']=A

In [86]:
df1

         국가명         인구수    대륙
0    중화인민공화국  1425880533   아시아
1         인도  1406631781   아시아
2         미국   334805268  아메리카
3      인도네시아   279134505   아시아
4       파키스탄   229488996   아시아
..       ...         ...   ...
236      니우에        1520    기타
237     토켈라우        1501    기타
238   바티칸 시국         825    기타
239   코코스 제도         573    기타
240   핏케언 제도          46    기타

[241 rows x 3 columns]

In [123]:
df1.loc[[8],['대륙']]='아시아'
df1.loc[[15],['대륙']]='아프리카'
df1.loc[[19],['대륙']]='아시아'
df1.loc[[20],['대륙']]='유럽'
df1.loc[[29],['대륙']]='유럽'
df1.loc[[22],['대륙']]='아프리카'
df1.loc[[38],['대륙']]='아프리카'
df1.loc[[46],['대륙']]='아프리카'
df1.loc[[55],['대륙']]='아시아'
df1.loc[[72],['대륙']]='아프리카'
df1.loc[[74],['대륙']]='아프리카'
df1.loc[[87],['대륙']]='아프리카'
df1.loc[[105],['대륙']]='유럽'
df1.loc[[116],['대륙']]='유럽'
df1.loc[[117],['대륙']]='아프리카'
df1.loc[[115],['대륙']]='아프리카'
df1.loc[[136],['대륙']]='아메리카'
df1.loc[[147],['대륙']]='유럽'
df1.loc[[150],['대륙']]='유럽'
df1.loc[[154],['대륙']]='아메리카'

In [124]:
df1[df1['대륙']=='기타']

                                                   국가명      인구수  대륙
155                                              적도 기니  1358276  기타
158                                              에스와티니  1093238  기타
165                                             솔로몬 제도   680806  기타
166                                                마카오   667400  기타
169                                            서사하라[9]   582478  기타
173                                           트란스니스트리아   469000  기타
182                                             누벨칼레도니   282200  기타
183                                         프랑스령 폴리네시아   275918  기타
184  [[파일:{{{국기그림-지방}}}|22x20px|border |alt=프랑스령 기아...   223765  기타
186                                           상투메 프린시페   201784  기타
187                                                사모아   200874  기타
189                                                  괌   172400  기타
190                                                퀴라소   160012  기타
193                                                아루바   103065  기타
194                                        세인트빈센트 그레나딘   110520  기타
196                                                저지섬   105500  기타
197                                          미크로네시아 연방   105300  기타
198                                         미국령 버진아일랜드   104909  기타
199                                            앤티가 바부다   104084  기타
202                                                 맨섬    83314  기타
204                                            도미니카 연방    74679  기타
205                                                버뮤다    64027  기타
206                                             케이맨 제도    63415  기타
207                                                건지섬    62063  기타
208                                            아메리칸사모아    56700  기타
209                                           북마리아나 제도    56200  기타
210                                          세인트키츠 네비스    56345  기타
211                                               그린란드    55992  기타
212                                              마셜 제도    55500  기타
214                                              페로 제도    51617  기타
215                                        터크스 케이커스 제도    41369  기타
216                                              신트마르턴    40614  기타
219  [[파일:{{{국기그림-지방}}}|22x20px|border |alt=생마르탱의 기...    35746  기타
220                                               지브롤터    34879  기타
222                                         영국령 버진아일랜드    32206  기타
224                                               쿡 제도    15200  기타
225                                                앵귈라    15174  기타
226  [[파일:{{{국기그림-비공식}}}|22x20px|border |alt=왈리스 푸투...    11700  기타
229                                             생바르텔레미     9793  기타
230                                           생피에르 미클롱     6008  기타
231                                 세인트헬레나 어센션 트리스탄다쿠냐     5633  기타
232                                               몬트세랫     5220  기타
233                                             세인트헬레나     4534  기타
234                                            포클랜드 제도     3198  기타
235                                                노퍽섬     1756  기타
236                                                니우에     1520  기타
237                                               토켈라우     1501  기타
238                                             바티칸 시국      825  기타
239                                             코코스 제도      573  기타
240                                             핏케언 제도       46  기타

In [99]:
df1.groupby('대륙').sum()

C:\Users\신호림\AppData\Local\Temp\ipykernel_18660\1677956157.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df1.groupby('대륙').sum()

              인구수
대륙
기타      653780617
아메리카   1015587384
아시아    4573996460
아프리카   1076409994
오세아니아    40345817
유럽      470267793